.appbar {
  background-color: #2b9fda !important;
}
.help {
  background-color: #2b9fda !important;
}
.question-form {
  margin: 15px 50px !important;
  padding: 10px 15px !important;
}
.queston-text-box {
  width: 100% !important;
}
.queue {
  margin: 15px 50px !important;
}
.question {
  margin: 10px 20px !important;
}
.favIcon{
  height: 10px !important;
}
.searchToolBar {
  display: flex !important;
  flex-direction: row !important
  flex-wrap: wrap;
  /*align-items: baseline !important;*/
  margin: 15px 50px !important;
}
.search-field {
  margin-left: 30px !important;
  /*display: inline-flex !important;*/
  align-self: baseline !important;
}
.search-dropdown {
  padding-right: 0px !important;
  display: inline-flex !important;
  align-self: baseline !important;
}
.searchButton {
  padding-left: 0px !important;
  display: inline-flex !important;
  align-self: baseline !important;
  border-right: 1px solid grey !important;
}
