.appbar {
  background-color: #2b9fda !important;
}
.help {
  background-color: #2b9fda !important;
}
.question-form {
  margin: 15px 50px !important;
  padding: 10px 15px !important;
}
.queston-text-box {
  width: 100% !important;
}
.queue {
  margin: 15px 50px !important;
}
.question {
  margin: 10px 20px !important;
}
