body {
  background-color: #F8F8F8 !important;
}
.appbar {
  background-color: #2b9fda !important;
}
.help {
  background-color: #2b9fda !important;
}
.question-form {
  margin: 15px 50px !important;
  padding: 10px 15px !important;
}
.queston-text-box {
  width: 100% !important;
}
.queue {
  margin: 15px 50px !important;
  background-color: white !important;
}
.question {
  margin: 10px 20px !important;
  background-color: #F8F8F8 !important;
}
.question-card-content {
  padding-bottom: 0px !important;
}
.question-body {
  border-left: 3px solid #424242 !important;
  padding-left: 5px !important;
  margin-bottom: 10px !important;
  font-size: 1.5em !important;
  color: #424242 !important;
}
.question-snippet {
  color: #9e9e9e !important;
  border-left: 2px solid #9e9e9e !important;
  padding-left: 5px !important;
  margin-bottom: 10px !important;
  font-size: 1.3em !important;
  font-family: monospace !important;

}
.question-info-bar {
  color: #757575 !important;
  font-size: 1.1em !important;
}
.question .tag-bar {
  margin: 10px 0px !important;
}
.votes-span {
  font-size: 1.5em !important;

}
.timestamp-span {
  float: right !important;
}

.favIcon{
  height: 10px !important;
}
.searchbar {
  margin: 15px 50px !important;
}
